.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
}

.main-layout__container {
  display: flex;
  flex: 1;
}

.main-layout__content {
  flex: 1;
  overflow-y: auto;
  background: #f9fafb;
}

@media (max-width: 768px) {
  .main-layout__content {
    padding: 0;
  }
}
